<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Marquis</title>

    <link href="/css/app.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <layout-placeholder name="body" />

		
</body>
</html>
