#dnd-upload-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border-width: 0px;
  border-color: #ffffff;
  border-style: solid;

  transition: 250ms ease-in-out;

  animation-name: marquiser-border-color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  &.ondrag {
    border-width: 20px;
  }
}

.marquis-logo {
  margin-top: ~"calc(50vh - 60px)";
  height: 120px;
  line-height: 120px;

  color: @color-empress;
  font-weight: 300;
  font-size: 8em;
  text-align: center;
  background-color: transparent;

  opacity: 0;
  transition: 700ms ease-in-out;

  &.loaded {
    animation-name: marquis-reveal-choices;
    animation-duration: 1.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode:forwards;
  }

  .marquis {
    font-weight: 400;
    font-size: 6rem;

    animation-name: marquiser-color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  span {
    display: inline-block;
    line-height: 1em;
  }
}

.marquis-choices {
  position: relative;
  text-align: center;

  opacity: 0;
  transform: translateY(-10px);
  transition: 250ms ease-in-out;

  &.loaded {
    opacity: 1;
    transform: translateY(-20px);
    transition-delay: 1.5s;
  }

  a {
    color: @color-empress;
    border: 1px solid fade(@color-empress, 50);

    margin: 0 5px;

    &:hover, &:focus, &:active {
      animation-name: marquiser;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

    &.choice-gimme {
    }

    &.choice-pickup {
    }

  }
}