<layout-use template="./../../default.marko">

    <layout-put into="body">
        <div class="home-container table-like">
            <div class="table-cell-like">
                <div class="marquis-logo">
                    <span>M</span>
                    <i class="marquis glyphicon glyphicon-map-marker"></i>
                    <span>rquis</span>
                </div>
            </div>
        </div>
    </layout-put>

</layout-use>